.navbar{
    padding: 0,5rem;
    background-color: #2e2d2d;
    
}
.navbar-collapse{
    align-items:center;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
}
.navbar-brand{
    color: #ffffff;
}
.nav-link{
    color: #ffffff;
}

.nav-link:hover{
color: rgb(212, 255, 241);
}
#tres{
    margin-top: 20rem;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
#dos{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
#cont1{
    border: 1px solid rgba(0, 89, 255, 0.479);
}
#cont2{
    border: 1px solid rgba(21, 255, 0, 0.479);
}
#cont3{
    border: 1px solid rgba(251, 255, 0, 0.788);
}
#cont1:hover{
    border: 1px solid rgba(0, 89, 255, 0.479);
    }
    
    #cont2:hover{
        border: 1px solid rgb(21, 255, 0);
        }
        #cont3:hover{
            border: 1px solid rgb(251, 255, 0);
            }
        #text-decoration:hover{
            text-decoration: underline;
        }
       
            #text-decoration:hover{
                text-decoration: underline;
            }
#logo:hover{
    color: rgb(255, 255, 255);
    }
    #text-decoration:hover{
        text-decoration: underline;
    }
@media  screen and ( min-width: 950px) {
    .navbar{
        padding: 0,5rem;
        background-color: #2e2d2d;
        height: 8vh;
    }
    
}
@media ( width: 920px){
    
}